#canvas{
    border:1px solid black;
    margin-right:30em;
}

#canvasDiv{
    
    width:500%;
    float:left;

  
}

#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width:80%;
    margin: auto;
    margin-top:20px;

}

#navbar li{
    float:left;
}

.link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}