/* Home Styles */

.container {
 display: flex;
  min-height:100vh;
  width:100%;
}


#overlay {
  margin-left:222%;
  margin-top:15%;
  top: 0px;
  left: 0px;
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/
  
}
#videoel {
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/
}
#container {
  display:flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  width:100%;
  justify-content: flex-end;

}

#video{
  order:1;
  margin-top: 15%;
  width:300px; 
}